# Database
DATABASE_URL=postgresql://user:password@localhost:5432/ums_ryusen

# Server
PORT=3000

# Default tenant ID for development
DEFAULT_TENANT_ID=00000000-0000-0000-0000-000000000000

#super admin info
SUPER_EMAIL=asratul02@gmail.com
SUPER_PASSWORD=Ryusen@99
SUPER_FIRST_NAME=Samiul
SUPER_LAST_NAME=Ratul

#JWT Secret
JWT_SECRET=your_jwt_secret_key
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_TOKEN_EXPIRATION_TIME=3600s

